---
import { buildCategoryHref, type ContentCollectionName } from '../lib/content';

interface Props {
  tags: string[];
  collection: ContentCollectionName;
}

const { tags, collection } = Astro.props;
---

{
  tags.length > 0 && (
    <ul class="tag-list" aria-label="Tags">
      {tags.map((tag) => (
        <li>
          <a class="tag" href={buildCategoryHref(collection, tag)}>
            {tag}
          </a>
        </li>
      ))}
    </ul>
  )
}

<style>
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
